/* Marbles */
.marbles {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 25vw;
}

.evenBtn,
.oddBtn {
  height: 10vw;
  font-size: 2vw;
  margin: 5%;
}

.hand {
  position: relative;
  height: 15vw;
  width: 15vw;
}

.handImg {
  background-image: url('../../../images/hand.png');
  background-size: 95%;
  background-repeat: no-repeat;
  margin: 5%;
  height: 100%;
  width: 100%;
}

h1.questionMark,
h1.marbleAmount {
  color: rgb(255, 0, 140);
  font-size: 5vw;
  position: absolute;
  left: 7vw;
  top: 4vw;
}