/* Rank */
.rank {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 2vw;
}

.rank button {
  position: absolute;
  left: 0;
}

.leaderboard {
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  margin: 5%;
  text-align: center;
}

.leaderboard h1 {
  margin-bottom: 0;
}

.leaderboard ol {
  list-style-type: none;
  text-align: left;
  margin: 1% auto;
}