/* Rank */
.rank {
  position: relative;
  font-size: 2vw;
}

.goBackBtn {
  position: absolute;
  left: 0;
}

.leaderboard {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.rank h1 {
  color: #ff2277;
  margin: 5% auto 0 auto;
}

.rank ol {
  width: 50%;
  list-style-type: none;
  margin: 2% 0;
  padding: 0;
}

.rank h4 {
  margin: 0;
}

.rank .name-entry {
  display: flex;
  justify-content: space-between;
}