/* Game */
.gameContainer {
  width: 100%;
  height: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.screen {
  width: 100%;
  height: 20vw;
  display: block;
  position: relative;
}

.buttons {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.gameArea {
  height: 25vw;
}

.life {
  position: absolute;
  top: 5%;
  left: 1%;
  font-size: 1.2em;
}

