/* Game */
.gameContainer {
  width: 100%;
  height: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.screen {
  width: 100%;
  height: 20vw;
  display: block;
  position: relative;
}

.gameArea {
  height: 25vw;
}

.buttons {
  display: flex;
  height: 25vw;
  align-items: center;
  justify-content: center;
}

.playBtn {
  font-size: 6vw;
}

.life {
  position: absolute;
  top: 0;
  left: 1%;
  font-size: 2vw;
}

