/* Tog of War */
.tow {
  position: relative;
  height: 20vw;
  display: flex;
  flex-direction: column; 
}

.pullBtn {
  position: relative;
  border: rgb(255, 0, 100) .5vw solid;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 0, 100) ;
  font-size: 1.5vw;
  font-weight: 700;
  padding: 1%;
  margin: 1% auto;
}

.pullBtn:hover {
  opacity: .6;
}

.view {
  position: relative;
  display: flex;
  flex-direction: row; 
  height: 15vw;
}

.platform {
  width: 40%;
  height: 15vw;
}

.top {
  background-color: rgba(90, 100, 90, .7);
  height: 5vw;
  border-top: rgba(255, 200, 0, .9) 2vw solid;
  border-bottom: rgba(255, 200, 0, 0.9) .5vw solid;
}

.bottom {
  background-color: rgba(90, 100, 90, .7);
  height: 5vw;
  border-top: rgba(255, 200, 0, .9) .5vw solid;
  border-bottom: rgba(255, 200, 0, .9) 2vw solid;
}

.left {
  margin-right: 10%;
}

.right {
  margin-left: 10%;
}

.middle {
  border: 2px rgba(255, 0, 0, 0.7) solid;
  height: 16vw;
  margin-top: -2%;
}

.rope {
  position: absolute;
  top: 32%;
  border-top: .3vw pink solid;
  height: 0;
  width: 100%;
  margin-top: -2%;
  z-index: 1;
}

.theTow .players {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 15%;
}

.theTow .enemies {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 15%
}

.theTow .player {
  margin: 2%;
}