@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;900&display=swap');

* {
  border: solid 1px gold;
  font-family: 'Orbitron', sans-serif;
}

img {
  max-width: 800px;
  max-height: 600px;
}

.window {
  width: 60%;
  height: 45vw;
  border: rgba(194, 194, 194, 0.35) 5px solid;
  border-radius: 5px;
  margin: 2% auto;
}

/* Home/Landing Page */
.home {
  width: 100%;
  height: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("./images/LandingPage_background.png");
  background-size: cover;
}

.landingBtn {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
}

.landingBtn a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.95);
  font-size: 4vw;
  font-weight: bolder;
}

.landingBtn a:hover {
  opacity: .7;
}

/* Game */
.gameContainer {
  width: 100%;
  height: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("./images/Game_background.png");
  background-size: cover;
}

.caption {
  transform: rotate(-10deg);
  width: 50%;
  position: absolute;
  left: 400px;
  top: -560px;
  letter-spacing: .05em;
}

.caption h1 {
  color: #F44788;
  margin: 0;
}

.caption p {
  margin: 1% 0;
  font-size: 1.1em;
  font-weight: 700;
}

/* Red Light, Green Light */
.gameRLGL {
  position:relative;
}

.ground {
  border-right: rgba(255, 0, 111, 0.6) solid 5px;
  width: 75%;
  height: 25vw;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

/* Timer */
.timer {
  position: absolute;
  top: -480px;
  left: 166px;
  color: rgb(255, 175, 175);
  font-size: 2em;
}