@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;900&display=swap');

* {
  font-family: 'Orbitron', sans-serif;
}

button {
  background-color: white;
  border: 0;
  color:rgba(255, 0, 140, 0.905);
  font-size: 1em;
  margin-right: 1%;
}

button:hover {
  opacity: .7;
  cursor: pointer;
}

a {
  text-decoration: none;
  color:rgba(255, 0, 140, 0.905);
  font-size: 1em;
}

a:hover {
  opacity: .7;
}

.window {
  width: 70%;
  height: 40vw;
  border: rgba(255, 0, 140, 0.905) .5vw dashed;
  border-radius: 5px;
  margin: 2% auto;
  padding: 1%;
}

/* player */
.player {
  width: 2vw;
  height: 3vw;
  background-color: rgb(22, 141, 116);
  color: white;
  font-size: 0.6em;
  text-align: center;
}