/* Rank */
.addrank {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vw;
}

.addrank a {
  position: absolute;
  left: 0;
}

.addrank h1 {
  color: #ff2277;
  margin: 5% auto 0 auto;
}

.addrank h4 {
  margin: 0 0 2% 0;
}

.rankContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}

.rankContent button {
  padding: 0;
  margin: 0 25%;
}

.nameForm {
  width: 100%;
}

.nameForm input {
  width: 6em;
  height: 1.5em;
  font-size: 1em;
}

.addrank .leaderboard {
  width: 50%;
}

.addrank ol {
  width: 50%;
  list-style-type: none;
  margin: 0;
}

.addrank .name-entry {
  display: flex;
  justify-content: space-between;
}